html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#map {
    z-index: 2000;
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 0;
}
#map div {
    overflow: hidden;
    background: rgba(255,255,255,0.2);
    border-radius: 3px;
    color: white;
    width: 19px;
    height: 19px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1px 1px;
}

#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(192, 192, 192,0.5);
    font-weight: 100;
}
#chat div:nth-child(even) {
    color: rgba(255,255,255,0.5);
}

#container {
    position: relative;
    height: 160px;
    width: 256px;
    transform-origin: center;
    image-rendering: pixelated;
    overflow: hidden;
}

#container  canvas {
    z-index: 100;
}

