html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none; 
    -webkit-user-select: none;
    user-select: none;
}

#map {
    z-index: 2000;
    position: absolute;
    line-height: 0;
    opacity: 0.25;
}
#map:hover {
    opacity: 1;
}
#map div.mapRoom {
    overflow: hidden;
    background: rgb(96,96,96);
    border-radius: 3px;
    color: rgb(255,255,255);
    width: 19px;
    height: 19px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1px 1px;
}
#map div.mapButtons {
    display: flex;
    justify-content: space-between;
    height: 20px;    
    line-height: 13px;
}
#map div.mapButtons div {
    background: rgb(96,96,96);
    border-radius: 3px;
    color: rgb(255,255,255);
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#map div.mapButtons div:hover {
    color: rgb(96,96,96);
    background: rgb(255,255,255);
}

#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(192, 192, 192,0.5);
    font-weight: 100;
    background: #444;
    box-shadow: inset 0 0px 65px 52px rgb(0 0 0 / 25%);
    overflow-y: auto;
    scrollbar-width: none;
}
#chat::-webkit-scrollbar {
    display: none;
}

#chat > div {
    position: relative;
    min-height: 100%;
}

#chat div div {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: 5%;
    word-wrap: break-word;
    color: rgba(255,255,255,0.5);
}
#chat div div:nth-child(even) {
    color: rgba(255,255,255,0.75);
}
#chat div div.special, #chat div div.special a {
    font-style: italic;
    color: #ccc;
}

#chat div div:last-of-type {
    padding-bottom: 30px;
}
#chat div input, #chat div input:focus {
    position: absolute;
    margin-left: 3%;
    width: 94%;
    background: none;
    background-color: none;
    outline-width: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    bottom: 5px;
    color: white;
}

#container {
    position: absolute;
    left: 0;
    height: 160px;
    width: 256px;
    image-rendering: pixelated;
    overflow: hidden;
}

#container  canvas {
    z-index: 100;
}

#touchControls {
    position: absolute;
    width: 256px;
    height: 160px;
}
#touchControls div {
    position: relative;
    width: 100%;
    height: 100%;
}
#touchControls div #touchUp {
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 50%;
}
#touchControls div #touchDown {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 50%;    
}
#touchControls div #touchLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;    
}
#touchControls div #touchRight {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;    
}

