@use 'intro';
@use 'map';
@use 'chat';
@use 'container';
@use 'touch';

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none; 
    -webkit-user-select: none;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
}
